<hr/>
<span>new name is {{ newname }}</span>
{{ name }}
<input type="text" [(ngModel)]="name">
<button (click)="changeName()">change name</button>


<form #myForm="ngForm" (submit)="submitForm()">
    First name:<br>
    <input type="text" ngModel name="firstname" required #firstname="ngModel">
    <br>
    <p *ngIf="!firstname.pristine && !firstname.valid">This field is required</p>
    Last name:<br>
    <input type="text" ngModel name="lastname" required #lastname="ngModel">
    <br><br>
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>